/* Hero Start */

/* Hero End */


/* About Start */

/* About End */


/* Accreditation Start */

/* Accreditation End */


/* Non Technical Skills Start */

.NonTechnicalSkill{
    padding: 30px 0px;
    margin-bottom: 30px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0px 16.38062286376953px 80.08304595947266px -3.6401383876800537px rgba(24, 39, 75, 0.14), 0px 7.280276775360107px 25.480968475341797px -5.460207462310791px rgba(24, 39, 75, 0.12);
}

/* Non Technical Skills End */


/* services Start */

.services{
    background: var(--bg, linear-gradient(320deg, #02A59D 13.54%, #02A59D 46.79%, #2B338E 100%));
}

.services .container{
    background-image: url("assets/services/Background_details.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    padding: 80px 0px;
}
/* services End */
