<div class="footer">
    <div class="container py-2">
        <div class="row">
            <div class="col-4">
                <p class="regular green-text text-center my-auto"><a href="#">Terms & Conditions</a> | <a href="#">Privacy Policy</a></p>
            </div>
            <div class="col-4">
                <p class="regular green-text text-center my-auto">Copyright @ IMGCOMPASS</p>
            </div>
            <div class="col-4">
                <p class="regular green-text text-center my-auto">Webapp by <a href="#">Tom Collins Software Solutions</a></p>
            </div>
        </div>
    </div>
</div>
