{% load static %}
<div class="container">
<div class="container-navbar">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-xl-between py-3 mb-4">
      <div class="col-xl-3 mb-2 mb-xl-0">
        <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
          <img src="{% static 'assets/navbar/main_logo.svg' %}" alt="Img Compass Logo">
        </a>
      </div>

      <ul class="nav col-12 col-xl-auto mb-2 justify-content-center mb-xl-0">
        <li><a href="/" class="nav-link px-2 semi-bold white-text">Home</a></li>
        <li><a href="/" class="nav-link px-2 semi-bold white-text">About Us</a></li>
        <li><a href="/" class="nav-link px-2 semi-bold white-text">Contact</a></li>
        <li><a href="/" class="nav-link px-2 semi-bold white-text">Courses</a></li>
        <li><a type="button" href="/login" class="navbar-button semi-bold ">Login</a></li>
        <li><a type="button" href="/register" class="navbar-button semi-bold">Register</a></li>
      </ul>
    </header>
  </div>
</div>